.footer__list {
  list-style-type: none;

  margin: 0 0 0 48px;
  padding: 0;

  display: flex;
}

.footer__list:first-of-type {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .footer__list {
    margin: 0 0 0 28px;
  }
}

@media screen and (max-width: 767px) {
  .footer__list:first-of-type {
    flex-direction: column;
  }
}