.request-error__error-icon {
  width: 74px;
  height: 74px;

  margin: auto;

  background-image: url('../../../images/icon-request-error.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
  .request-error__error-icon {
    width: 60px;
    height: 60px;
  }
}