@import url('./_type/card__controls-button_type_bookmark.css');
@import url('./_type/card__controls-button_type_trash.css');

.card__controls-button {
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 8px;

  position: relative;
  z-index: 2;

  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);

  transition: background-image .4s linear;
}