.popup__close {
  width: 40px;
  height: 40px;

  border: none;

  position: absolute;
  top: -44px;
  right: -44px;

  background-color: transparent;

  background-image: url('./../../../images/icon-close.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 24px;
    height: 24px;

    top: -40px;
    right: 16px;

    opacity: 0;
  }
}