@import url('./_active/loading_active.css');
@import url('./__preloader/loading__preloader.css');
@import url('./__title/loading__title.css');

.loading {
  box-sizing: border-box;

  padding: 80px 0;

  display: none;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1023px) {
  .loading {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .loading {
    padding: 32px 0;
  }
}