.author__about {
  width: 600px;

  margin-top: calc(131px - 80px);
  margin-left: 56px;
}

@media screen and (max-width: 1023px) {
  .author__about {
    width: 424px;

    margin-top: 0;
    margin-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .author__about {
    width: 100%;

    margin-top: 24px;
    margin-left: 0;
  }
}